In [3]:
import pandas as pd

In [7]:
df = pd.read_csv('./data/주차예측(한맥+다래)_정기권.csv')
df2 = pd.read_excel('결과_정기권_13동.xlsx')

In [6]:
data = df[df['주차장'] =='13동'][['일시','일','입차대수']]
data.groupby('일').sum()

/var/folders/nd/cl2nzwh13zx7jdly2t5m95340000gn/T/ipykernel_47276/3678761377.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby('일').sum()

     입차대수
일
1   523.0
2   464.0
3    42.0
4    17.0
5   699.0
6   617.0
7   583.0
8   488.0
9     9.0
10    9.0
11   13.0
12    8.0
13  423.0
14  413.0
15  386.0
16  393.0
17   20.0
18   26.0
19  417.0
20  395.0
21  405.0
22  355.0
23  367.0
24   18.0
25    5.0
26  402.0
27  402.0
28  407.0
29  377.0
30  412.0

In [11]:
df2['일'] = df2['일시'].dt.date
df2.groupby('일').sum()

/var/folders/nd/cl2nzwh13zx7jdly2t5m95340000gn/T/ipykernel_47276/1521402314.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df2.groupby('일').sum()

            입차대수  예측값
일
2022-09-25     5  180
2022-09-26   402  376
2022-09-27   402  357
2022-09-28   407  432
2022-09-29   377  476
2022-09-30   412  347