In [2]:
import  pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import matplotlib
plt.rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

In [3]:
TM = pd.read_csv('TM_MDM_VHCLE_CMG (세종 차량연계 정보).csv')
VW_in = pd.read_csv('VW_InCarinfo (차량 입차 정보 조회).csv')
VW_in = VW_in.dropna()
VW_out = pd.read_csv('VW_OutCarinfo (차량 출차 정보 조회).csv')
car_normal = pd.read_csv('일반차량.csv')
car_ticket =pd.read_csv('정기권차량.csv')
print(len(VW_in))
print(len(VW_out))

/var/folders/nd/cl2nzwh13zx7jdly2t5m95340000gn/T/ipykernel_43622/2217914400.py:2: DtypeWarning: Columns (0,1,2,5,6,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  VW_in = pd.read_csv('VW_InCarinfo (차량 입차 정보 조회).csv')

38672
38672

# 주차장 차량 수가 음수가 되는 이유??

In [4]:
import re


def slicing(df,i) :
    pattern = '.*동'
    reg = re.search(pattern, df['장비명'][i])
    reg = reg.group()
    df['장비명2'][i] = reg
    return reg
VW_in['장비명2'] = 0
for i in range(len(VW_in)):
    slicing(VW_in,i)
VW_out['장비명2'] = 0
for i in range(len(VW_out)):
    slicing(VW_out,i)

/var/folders/nd/cl2nzwh13zx7jdly2t5m95340000gn/T/ipykernel_43622/3993426172.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['장비명2'][i] = reg
/var/folders/nd/cl2nzwh13zx7jdly2t5m95340000gn/T/ipykernel_43622/3993426172.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['장비명2'][i] = reg

In [5]:
arr = ['12동','13-1동','13-2동','13-3동','14-1동','14-2동','15동']
for i in arr :
    # num = len(VW_in[VW_in['장비명2']== i]) - len(VW_out[VW_out['장비명2']== i])
    # if num == 0 :
    #     print(f'{i}의 입차대수와 출차대수가 같습니다')
    # elif num > 0:
    #     print(f'{i}의 입차대수가 출차대수보다 {num}만큼 많습니다.')
    # else :
    #     print(f'{i}의 입차대수가 출차대수보다 {num}만큼 적습니다.')
    print(f'{i}의 입차 수' , len(VW_in[VW_in['장비명2']== i]), '출차 수',len(VW_out[VW_out['장비명2']== i]) )

12동의 입차 수 9748 출차 수 8798
13-1동의 입차 수 4625 출차 수 4441
13-2동의 입차 수 4484 출차 수 3819
13-3동의 입차 수 839 출차 수 1053
14-1동의 입차 수 879 출차 수 1142
14-2동의 입차 수 11940 출차 수 13031
15동의 입차 수 6157 출차 수 6388

In [6]:
VW_in['입차시간'] = VW_in['입차일자'] +  VW_in['입차시각']
VW_out['출차시간'] = VW_out['출차일자']  + VW_out['출차시각']
VW_in['입차시간'] = pd.to_datetime(VW_in['입차시간'], format='%Y-%m-%d %H:%M:%S', errors='raise')
VW_out['출차시간'] = pd.to_datetime(VW_out['출차시간'], format='%Y-%m-%d %H:%M:%S', errors='raise')

In [7]:
VW_in[['장비명','입차구분','입차고객구분','출차여부','차량종류']] = VW_in[['장비명','입차구분','입차고객구분','출차여부','차량종류']].apply(lambda x: x.str.strip(), axis = 1)
VW_out[['장비명','출차구분','출차고객구분','출차여부','차량종류']]= VW_out[['장비명','출차구분','출차고객구분','출차여부','차량종류']].apply(lambda x: x.str.strip(), axis = 1)

In [8]:
VW_in['입차고객구분'].value_counts()

정기권    38616
일반        53
할인         3
Name: 입차고객구분, dtype: int64

In [9]:
VW_out['출차고객구분'].value_counts()

정기권    38607
일반        62
할인         3
Name: 출차고객구분, dtype: int64

In [10]:
VW_out

,출차일자,출차시각,차량번호,주차일련번호,출차카드번호,장비명,출차구분,출차고객구분,출차여부,차량종류,장비명2,출차시간
0,2022-09-01,05:32:24,94고6836,1.111422e+16,1.000000e+14,13-3동출구#1,정기권출차,정기권,출차,소형,13-3동,2022-09-01 05:32:24
1,2022-09-01,05:52:37,94고6836,1.111422e+16,1.000000e+14,13-3동출구#1,정기권출차,정기권,출차,소형,13-3동,2022-09-01 05:52:37
2,2022-09-01,06:12:11,94고6836,1.111422e+16,1.000000e+14,13-3동출구#1,정기권출차,정기권,출차,소형,13-3동,2022-09-01 06:12:11
3,2022-09-01,06:18:27,82도4072,1.111422e+16,1.000000e+14,13-3동출구#1,정기권출차,정기권,출차,소형,13-3동,2022-09-01 06:18:27
4,2022-09-01,06:39:34,94고6836,1.111422e+16,1.000000e+14,13-3동출구#1,정기권출차,정기권,출차,소형,13-3동,2022-09-01 06:39:34
...,...,...,...,...,...,...,...,...,...,...,...,...
38667,2022-10-05,17:40:15,71하3305,1.411220e+16,1.000000e+14,15동지하입구,정상,정기권,미출차,소형,15동,2022-10-05 17:40:15
38668,2022-10-05,19:03:47,50머4665,1.411220e+16,1.000000e+14,15동지하입구,정상,정기권,미출차,소형,15동,2022-10-05 19:03:47
38669,2022-10-05,19:44:02,323러9283,1.411220e+16,1.000000e+14,15동지하입구,정상,정기권,미출차,소형,15동,2022-10-05 19:44:02
38670,2022-10-05,19:46:40,09도7906,1.411220e+16,1.000000e+14,15동지하입구,정상,정기권,미출차,소형,15동,2022-10-05 19:46:40
38671,2022-10-05,20:16:15,62수0808,1.411220e+16,1.000000e+14,15동지하입구,정상,정기권,미출차,소형,15동,2022-10-05 20:16:15

In [11]:
VW_out['출차여부'].value_counts()

출차      32357
강제출차     5946
미출차       369
Name: 출차여부, dtype: int64

In [12]:
VW_out['출차구분'].value_counts()

정기권출차    22791
정상        9231
중복        6650
Name: 출차구분, dtype: int64

In [13]:
VW_out['출차고객구분'].value_counts()

정기권    38607
일반        62
할인         3
Name: 출차고객구분, dtype: int64

In [14]:
VW_in['입차구분'].value_counts()

정상    22872
중복    15800
Name: 입차구분, dtype: int64

In [15]:
VW_in['출차여부'].value_counts()

출차      22753
강제출차    15550
미출차       369
Name: 출차여부, dtype: int64

In [16]:
VW_in_normal = VW_in[VW_in['입차구분'] == '정상']

In [17]:
arr = ['12동','13-1동','13-2동','13-3동','14-1동','14-2동','15동']
for i in arr :
    # num = len(VW_in[VW_in['장비명2']== i]) - len(VW_out[VW_out['장비명2']== i])
    # if num == 0 :
    #     print(f'{i}의 입차대수와 출차대수가 같습니다')
    # elif num > 0:
    #     print(f'{i}의 입차대수가 출차대수보다 {num}만큼 많습니다.')
    # else :
    #     print(f'{i}의 입차대수가 출차대수보다 {num}만큼 적습니다.')
    print(f'{i}의 입차 수' , len(VW_in[VW_in['장비명2']== i]), '출차 수',len(VW_out[VW_out['장비명2']== i]), len(VW_in[VW_in['장비명2']== i]) -  len(VW_out[VW_out['장비명2']== i]))

12동의 입차 수 9748 출차 수 8798 950
13-1동의 입차 수 4625 출차 수 4441 184
13-2동의 입차 수 4484 출차 수 3819 665
13-3동의 입차 수 839 출차 수 1053 -214
14-1동의 입차 수 879 출차 수 1142 -263
14-2동의 입차 수 11940 출차 수 13031 -1091
15동의 입차 수 6157 출차 수 6388 -231