In [5]:
import requests
import json
import pandas as pd

url = 'http://apis.data.go.kr/1360000/AsosHourlyInfoService/getWthrDataList'
key = "7cHRq4RbP9gZnYj6dw0lV03miUtUzlMzfxr64XSCSSN9ps8bVpJ5NzItp2NdwgNmDfN+Jrhz1m215fr9Ck69Hg=="
params ={'serviceKey':key, 'pageNo':'1','numOfRows':'500', 'dataType':'JSON', 'dataCd':'ASOS', 'dateCd':'HR', 'startDt':'20210930', 'startHh':'01', 'endDt':'20220930', 'endHh':'23', 'stnIds':'239'}
# 'numOfRows':'23'
response = requests.get(url, params=params)
content = json.loads(response.text)

df = pd.DataFrame(content["response"]["body"]["items"]["item"])

new_df = df[['stnId', 'stnNm', 'tm', 'ta', 'rn', 'ws', 'hm', 'dsnw']]
new_df.columns = ['지점', '지점명', '일시', '기온(°C)', '강수량(mm)', '풍속(m/s)', '습도(%)', '적설(cm)']
new_df

      지점 지점명                일시 기온(°C) 강수량(mm) 풍속(m/s) 습도(%) 적설(cm)
0    239  세종  2021-09-30 01:00   18.8             1.1    96
1    239  세종  2021-09-30 02:00   18.7             0.7    96
2    239  세종  2021-09-30 03:00   18.6             1.0    96
3    239  세종  2021-09-30 04:00   17.9             1.0    97
4    239  세종  2021-09-30 05:00   17.8             1.5    97
..   ...  ..               ...    ...     ...     ...   ...    ...
495  239  세종  2021-10-20 16:00   15.2             0.4    39
496  239  세종  2021-10-20 17:00   12.4             0.6    54
497  239  세종  2021-10-20 18:00   11.1             0.0    57
498  239  세종  2021-10-20 19:00    9.9             0.2    66
499  239  세종  2021-10-20 20:00    8.7             0.2    73

[500 rows x 8 columns]