In [1]:
import  pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import matplotlib
plt.rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

In [2]:
path = Path.cwd()
path = str(path)+'/GFMS DB/'
path

'/Users/keumhyeonjun/Projects/행안부/자재/GFMS DB/'

In [6]:
fmsa04=pd.read_excel(path+'FMSA04_작업계층.xlsx')
fmas10=pd.read_excel(path+'FMSA10_작업지시_결과.xlsx')

In [5]:
fmsa04

,comp_cd,class_cd,class_nm,class_parent,class_level,cmt,input_sysdt,chg_sysdt,input_emp_no,chg_emp_no,input_scr_nm,val1,val2,val3,val4,del_yn,auto_yn
0,SEJO,01,1동 1구역,ROOT,1,NaN,2020-03-31 오전 11:49:11,NaN,DWI,NaN,STD_A12,SJ-01-01,NaN,NaN,SJ-01-01,N,Y
1,SEJO,0101,지하1층,01,2,NaN,2020-03-31 오전 11:49:12,NaN,DWI,NaN,STD_A12,B001,NaN,NaN,B001,N,Y
2,SEJO,010101,공조설비,0101,3,NaN,2020-03-31 오전 11:49:19,NaN,DWI,NaN,STD_A12,NaN,1.0,NaN,200103,N,Y
3,SEJO,01010101,직팽식공조기,010101,4,NaN,2020-03-31 오전 11:51:31,NaN,DWI,NaN,STD_A12,NaN,1.0,A529,20010302,N,Y
4,SEJO,010102,개별냉난방설비,0101,3,NaN,2020-03-31 오전 11:49:19,NaN,DWI,NaN,STD_A12,NaN,1.0,NaN,200104,N,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49073,SEJO,80240010,후문,080240,4,NaN,2020-04-14,NaN,ADMIN,NaN,CUBRID,NaN,6.0,NaN,NaN,N,N
49074,SEJO,80240011,흡연구역,080240,4,NaN,2020-04-14,NaN,ADMIN,NaN,CUBRID,NaN,6.0,NaN,NaN,N,N
49075,SEJO,90232010,후문,090232,4,NaN,2020-04-14,NaN,ADMIN,NaN,CUBRID,NaN,6.0,NaN,NaN,N,N
49076,SEJO,90232011,흡연구역,090232,4,NaN,2020-04-14,NaN,ADMIN,NaN,CUBRID,NaN,6.0,NaN,NaN,N,N
49077,SEJO,ROOT,업무분류계층,NaN,0,NaN,2020-03-26 오후 9:19:25,NaN,DWI,NaN,SQL,NaN,NaN,NaN,NaN,N,N

In [9]:
fmas10['job_fac_his'].value_counts()

N    14326
Y     3446
Name: job_fac_his, dtype: int64

In [21]:
fmsx05=pd.read_excel(path+'FMSX05_HIS_장비이력.xlsx')
fmsx05['his_day'].sort_values()

4112    2013-01-01
4110    2013-01-01
3077    2013-01-02
2603    2013-01-11
2609    2013-01-11
           ...
3307    2022-09-28
2022    2022-09-28
2019    2022-09-28
2474    2022-10-07
3312    2022-10-07
Name: his_day, Length: 4478, dtype: object

In [13]:
fmsx05=pd.read_excel(path+'FMSX05_장비마스터.xlsx')
fmsx05

,comp_cd,fac_cd,fac_nm,class_cd,dept_cd,fac_model,fac_spec,fac_plc,bd_cd,fl_cd,...,input_emp_no,chg_emp_no,input_scr_nm,use_yn,fac_time_yn,cmt,del_yn,chk_edit_gb,chk_edit_dt,law_fac_yn
0,SEJO,200201040293,(3)세-1F-0(여)로비-화장실) 세면대 2대,20020104,10201,자동(2)/수동(0),청소수전,(여)로비,NaN,NaN,...,박남규,NaN,UBIS_F041,Y,N,8002013000158_228,N,NaN,NaN,N
1,SEJO,200201010257,9F여1대변기(5),20020101,10201,CC-113(바닥형),690*395*435,여-1(동) 화장실,NaN,NaN,...,최휴영,NaN,UBIS_F041,Y,N,8002011000172_229,N,NaN,NaN,N
2,SEJO,200202030001,우수조#1,20020203,10201,NaN,NaN,NaN,NaN,NaN,...,안용준,NaN,UBIS_F041,Y,N,8002023003021_229,N,NaN,NaN,N
3,SEJO,200105080599,배기휀#76(EF-504),20010508,10201,NaN,NaN,NaN,NaN,NaN,...,안용준,안용준,UBIS_F041,Y,N,8001045005090_229,N,NaN,NaN,N
4,SEJO,200202010001,시수조#1,20020201,10201,NaN,NaN,NaN,NaN,NaN,...,안용준,NaN,UBIS_F041,Y,N,8002021001021_229,N,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40806,SEJO,700101020004,SCC 4호기 권상기,70010102,10302,HS250K,12*6,NaN,SJ-SCJS-01,P006,...,이은환,DWI,UBIS_F041,Y,N,700401204_228,N,NaN,NaN,N
40807,SEJO,700101020005,SCC 5호기 권상기,70010102,10302,HS250K,12*6,NaN,SJ-SCJS-01,P006,...,이은환,DWI,UBIS_F041,Y,N,700401205_228,N,NaN,NaN,N
40808,SEJO,700101020006,SCC 6호기 권상기,70010102,10302,HS250K,12*6,NaN,SJ-SCJS-01,P006,...,이은환,DWI,UBIS_F041,Y,N,700401206_228,N,NaN,NaN,N
40809,SEJO,700201010010,SCC 7호기 제어반,70020101,10302,DZDLE-4300,NaN,NaN,SJ-SCJS-01,P006,...,이은환,DWI,UBIS_F041,Y,N,700501105_228,N,NaN,NaN,N
40810,SEJO,700201020001,SCC 7호기 권상기,70020102,10302,SDE-1504,12*6,NaN,SJ-SCJS-01,P006,...,이은환,DWI,UBIS_F041,Y,N,7005012002041_228,N,NaN,NaN,N

In [19]:
fmsx05

,comp_cd,fac_cd,fac_nm,class_cd,dept_cd,fac_model,fac_spec,fac_plc,bd_cd,fl_cd,...,input_emp_no,chg_emp_no,input_scr_nm,use_yn,fac_time_yn,cmt,del_yn,chk_edit_gb,chk_edit_dt,law_fac_yn
0,SEJO,200201040293,(3)세-1F-0(여)로비-화장실) 세면대 2대,20020104,10201,자동(2)/수동(0),청소수전,(여)로비,NaN,NaN,...,박남규,NaN,UBIS_F041,Y,N,8002013000158_228,N,NaN,NaN,N
1,SEJO,200201010257,9F여1대변기(5),20020101,10201,CC-113(바닥형),690*395*435,여-1(동) 화장실,NaN,NaN,...,최휴영,NaN,UBIS_F041,Y,N,8002011000172_229,N,NaN,NaN,N
2,SEJO,200202030001,우수조#1,20020203,10201,NaN,NaN,NaN,NaN,NaN,...,안용준,NaN,UBIS_F041,Y,N,8002023003021_229,N,NaN,NaN,N
3,SEJO,200105080599,배기휀#76(EF-504),20010508,10201,NaN,NaN,NaN,NaN,NaN,...,안용준,안용준,UBIS_F041,Y,N,8001045005090_229,N,NaN,NaN,N
4,SEJO,200202010001,시수조#1,20020201,10201,NaN,NaN,NaN,NaN,NaN,...,안용준,NaN,UBIS_F041,Y,N,8002021001021_229,N,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40806,SEJO,700101020004,SCC 4호기 권상기,70010102,10302,HS250K,12*6,NaN,SJ-SCJS-01,P006,...,이은환,DWI,UBIS_F041,Y,N,700401204_228,N,NaN,NaN,N
40807,SEJO,700101020005,SCC 5호기 권상기,70010102,10302,HS250K,12*6,NaN,SJ-SCJS-01,P006,...,이은환,DWI,UBIS_F041,Y,N,700401205_228,N,NaN,NaN,N
40808,SEJO,700101020006,SCC 6호기 권상기,70010102,10302,HS250K,12*6,NaN,SJ-SCJS-01,P006,...,이은환,DWI,UBIS_F041,Y,N,700401206_228,N,NaN,NaN,N
40809,SEJO,700201010010,SCC 7호기 제어반,70020101,10302,DZDLE-4300,NaN,NaN,SJ-SCJS-01,P006,...,이은환,DWI,UBIS_F041,Y,N,700501105_228,N,NaN,NaN,N
40810,SEJO,700201020001,SCC 7호기 권상기,70020102,10302,SDE-1504,12*6,NaN,SJ-SCJS-01,P006,...,이은환,DWI,UBIS_F041,Y,N,7005012002041_228,N,NaN,NaN,N